<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultExeKey" value="N_m3u8DL-CLI_" />
		<add key="DefaultFileFormat" value=".mp4" />
		<add key="Exe" value="" />
		<add key="Proxy" value="" />
		<add key="Headers" value="" />
		<add key="Del" value="1" />
		<add key="FastStart" value="0" />
		<add key="BinaryMerge" value="0" />
		<add key="ParserOnly" value="0" />
		<add key="DisableDate" value="0" />
		<add key="DisableMerge" value="0" />
		<add key="DisableProxy" value="0" />
		<add key="AudioOnly" value="0" />
		<add key="MaxThreads" value="32" />
		<add key="MinThreads" value="16" />
		<add key="Retry" value="15" />
		<add key="Timeout" value="10" />
		<add key="StopSpeed" value="0" />
		<add key="MaxSpeed" value="0" />
	</appSettings>
</configuration>